body {
  color: #333333 !important;
  /* font-family: arial; */
  max-width: 650px;
  margin: 0 auto !important;
  /* padding: 0 16px; */

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 48px !important;
  margin-block-start: 16px !important;
  margin-block-end: 8px !important;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

p {
  margin: 1em 0 1em !important;
}

/* input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
} */
